/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: url("https://trisixtyevents.files.wordpress.com/2011/03/texture-7.jpg");
  background-size: cover;
}

.delete {
  display: none;
}
/* general */

/* search in list */
#search {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: left;
}
#search::placeholder {
  background-image: url("https://image.flaticon.com/icons/png/512/61/61088.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
/* search in list */

/* add in list */
#add, #search {
  padding: 10px;
  font-size: 20px;
  outline: none;
  font-family: 'Montserrat Alternates', sans-serif;
  transition: all 0.6s;
  background-color: rgba(255, 255, 255, 0.5);
}
#add {
  width: 300px;
  border-radius: 30px;
}
#add:hover, #search:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}
#add:focus-within, #search:focus-within {
  box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
  width: 500px;
}
/* add in list */

/* buttons for add and delete */
#addItem, #newList {
  padding: 10px;
  background-color: #009e4c;
  color: white;
  transition: all 0.6s;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat Alternates', sans-serif;
  outline: none;
}
#addItem:hover {
  background-color: #04c25f;
}

#newList {
  padding: 10px 12px;
  background-color: #d10606;
}
#newList:hover {
  background-color: #ed1000;
}
/* buttons for add and delete */

/* list of ToDo */
#list {
  height: 400px;
  overflow-y: auto;
  min-width: 800px;
  margin-top: 30px;
  list-style: none;
  text-align: left;
  margin-bottom: 50px;
}
#list > li {
  margin: 25px;
  text-transform: capitalize;
  cursor: grab;
}
#list > li > i {
  font-size: 30px;
  cursor: pointer;
  color: black;
  transition: all 0.6s;
  padding: 0 20px;
  opacity: 0;
}
#list > li > i:hover {
  color: #d10606;
}
#list > li:hover > i {
  opacity: 1;
}
/* list of toDo */
